// TODO: MENU
.menu {
	background-color: map-get($colors, color--background);
	padding: 5%;

	&__title {
		padding-bottom: 2%;
		width: 10%;
		border-bottom: 0.2rem map-get($colors, color--tertiaire) solid;
	}

	&__bloc {
		border-radius: 0.5rem;
		margin-top: 2%;
		margin-bottom: 3%;
		background-color: map-get($colors, color--white);
		display: flex;
		width: 100%;
		overflow: hidden;
	}

	&__a {
		width: 100%;
		display: flex;
		color: black;
		text-decoration: none;
	}

	&__li {
		padding: 3%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		background-color: map-get($colors, color--white);
		border-radius: 0.5rem;
	}

	// TODO: ANIMATION-SLIDE
	&__a:hover &__slide {
		animation-name: slide;
		animation-duration: 1s;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25%;
		background-color: map-get($colors, color--tertiaire);
	}

	@keyframes slide {
		0% {
			opacity: 0;
			transform: translateX(5rem);
		}
		100% {
			opacity: 1;
			transform: translateX(0rem);
		}
	}

	// TODO: ANIMATION-ROTATE
	&__rotate {
		display: none;
	}

	&__a:hover &__rotate {
		display: block;
		animation: rotate-center 0.7s ease-in-out both;
	}

	@keyframes rotate-center {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.fa-check-circle {
		color: map-get($colors, color--white);
		font-size: 1.5rem;
	}

	/* Permet de masqué le texte avec ...*/
	&__h3 {
		padding-bottom: 2%;
		margin-right: 30%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	/* Permet de masqué le texte avec ...*/
	&__p {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-right: 5%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&__p p {
		padding-bottom: 0.5%;
		margin-right: 10%;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	// TODO: ANIMATION__MENU
	&__entrees {
		margin-top: 5%;
		margin-bottom: 5%;
		animation-name: entrées;
		animation-duration: 4s;
	}
	// TODO: ANIMATION__MENU-ENTREE
	@keyframes entrées {
		0% {
			opacity: 0;
			transform: translateY(8%);
		}

		100% {
			transform: translateY(0%);
		}
	}

	// TODO: ANIMATION__MENU-PLATS
	&__plats {
		margin-top: 5%;
		margin-bottom: 5%;
		opacity: 0;
		animation-name: plats;
		animation-duration: 4s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}

	@keyframes plats {
		0% {
			opacity: 0;
			transform: translateY(8%);
		}

		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	// TODO: ANIMATION__MENU-DESSERTS
	&__desserts {
		margin-top: 5%;
		margin-bottom: 0%;
		opacity: 0;
		animation-name: desserts;
		animation-duration: 4s;
		animation-delay: 4s;
		animation-fill-mode: forwards;
	}

	@keyframes desserts {
		0% {
			transform: translateY(8%);
			opacity: 0;
		}

		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	// TODO: BUTTON__COMMMAND
	&__block-command {
		background-color: map-get($colors, color--background);
		display: flex;
		justify-content: center;
		padding-top: 10%;
		padding-bottom: 20%;
	}

	&__command {
		box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.6);
		background-color: map-get($colors, color--background);
		// Dimension
		width: 50%;
		// Décoration
		@include color--btn;
		border: 0rem black solid;
		border-radius: 1.5rem;
		// Positionnement
		padding-top: 5%;
		padding-bottom: 5%;
	}

	&__command:hover {
		opacity: 0.9;
		box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.7);
	}
}
